// natigation

#navbar-toggle {
  padding: 20px;
}

#navbar-toggle span,
#navbar-toggle span:before,
#navbar-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 2px;
  width: 30px;
  background: #000000;
  position: absolute;
  display: block;
  content: "";
  transition: all 300ms ease-in-out;
}
#navbar-toggle span:before {
  top: -10px;
}
#navbar-toggle span:after {
  bottom: -10px;
}
#navbar-toggle.active span {
  background-color: transparent;
}
#navbar-toggle.active span:before,
#navbar-toggle.active span:after {
  top: 0;
}
#navbar-toggle.active span:before {
  transform: rotate(45deg);
}
#navbar-toggle.active span:after {
  transform: rotate(-45deg);
}

#desktop-nav ul li a:hover {
  color: $primary;
}
#desktop-nav ul li a.active {
  color: $primary;
}

.sectionTitle {
  font-size: 48px;
  font-weight: bold;
  padding-top: 32px;
  padding-bottom: 32px;
}

.breadcrumb {
  margin-top: 120px;
}

.taskOneSection {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $gray;

  &__taskOne {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 300px;
    background-color: #ffffff;

    &__redCircle {
      position: relative;
      background-color: $primary;
      border-radius: 50%;
      width: 100px;
      height: 100px;

      &__coneSection {
        position: absolute;
        left: 50%;
        bottom: -20px;
        transform: translateX(-50%);

        &__cone {
          &__triangle {
            height: 0;
            border: 20px solid transparent;
            border-top: 20px solid #ffffff;
          }

          &__circle {
            width: 40px;
            height: 40px;
            background: #ffffff;
            border-radius: 50%;
          }
        }
      }
    }
  }
}

// End of task One

.box {
  width: 100%;
  height: 150px;
  border: 1px solid #999999;
}

// End of Task Two

.taskThreeSection {
  display: inline-block;
  border-top: 10px solid #000000;
  padding-left: 40px;
  padding-top: 20px;
}

.taskThreeSection table tr:nth-child(odd) {
  background-color: $primary;
  color: #ffffff;
}

.taskThreeSection table tr:nth-child(even) {
  background-color: #ffffff;
}

.taskThreeSection table tr:nth-child(4n) {
  background-color: green;
  color: #ffffff;
}

.taskThreeSection table tr td {
  padding: 8px 16px;
  font-weight: 500;
  font-size: 22px;
}

.taskThreeSection table tr td:first-child {
  color: #000000;
}

.taskFourSection .balls,
.bouncing_ball {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.taskFourSection .balls {
  position: relative;
  border-bottom: 2px solid #000000;
}

.bouncing_ball {
  position: absolute;
  bottom: 0;
}

.ball {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #f2f1f1;
}

.ballmain {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: $primary;
  transform: translateY(-250px);
}

.rectangleFive {
  position: relative;
  width: 800px;
  height: 600px;
  border: 1px solid red;
}

.small_rectangles {
  position: absolute;
  width: 60px;
  height: 60px;
  background-color: #efefef;
  cursor: pointer;
  transition: all linear 0.4s;
}

.small_rectangles.active {
  background-color: $secondary;
}

.rectangleTop {
  left: 50%;
  top: -1px;
  transform: translateX(-50%);
}

.rectangleRight {
  right: -1px;
  top: 50%;
  transform: translateY(-50%);
}

.rectangleBottom {
  left: 50%;
  bottom: -1px;
  transform: translateX(-50%);
}

.rectangleLeft {
  left: -1px;
  top: 50%;
  transform: translateY(-50%);
}

.footer_social a:hover {
  color: $primary;
}

@media screen and (max-width: 1023px) {
  .nav-mobile {
    width: 30px;
    margin-top: 20px;
  }
  div#desktop-nav {
    position: absolute;
    width: 100%;
    background: $primary;
    top: 100%;
    left: 0;
  }

  div#desktop-nav ul li a {
    display: block;
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
    color: #ffffff;
  }

  #desktop-nav ul li a:hover,
  #desktop-nav ul li a.active {
    color: #ffffff;
  }

  .breadcrumb {
    margin-top: 90px;
  }

  .sectionTitle {
    font-size: 24px;
    font-weight: bold;
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .taskThreeSection table tr td {
    padding: 4px 8px;
    font-weight: 500;
    font-size: 16px;
  }

  .rectangleFive {
    position: relative;
    width: 100%;
    height: 600px;
    border: 1px solid red;
  }
}

@media screen and (max-width: 767px) {
  .breadcrumb {
    margin-top: 60px;
  }
}

@media screen and (max-width: 640px) {
  .taskOneSection__taskOne {
    width: 100%;
  }
}
